body{
  background-image:url(../images/bugati.Jpg); 
}
.calculadora{

  margin:0 auto;
  padding:20px;
  background-color:#000000;
  width:350px;
  height:600px;
  border-radius: 5px;
}
.calculadora td button{
  display:block;
  background-color:#545451;
  width:70px;
  height: 70px;
  font-size: 25px;
}
.redondo{
   display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px black
}
#resultado{
  display:block;
  text-align: right;
  font-size: 100px;
  margin-bottom: 50px;
  width:300px;
  height: 100px;
  line-height: 100px;
  background-color:#000;
  color:white ; 
  
}

.button0{
  align-self: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px black
}